# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_URL=wss://innoigniters-bk0cdsm3.livekit.cloud
LIVEKIT_API_KEY=APIGXqEJNeMdF6B
LIVEKIT_API_SECRET=CVt5rceNBsdfitAb75LUx2BeVo0mgNNKnF3p0J7azZRB


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=

